.button{
    border: none;
    inline-size:  32px;
    block-size: 32px;
    background-color:transparent;
    background-position:center;
    background-repeat:no-repeat;
}
#play{background-image:url('./play.svg');}
#pause{background-image:url('./pause.svg');}
#backward{background-image:url('./-10.svg');}
#forward{background-image:url('./+10.svg');}
